<h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>

  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>

  <p>Comments: <%= picture.comments.count %> </p>
  
<% end %>







<!--
Previous code:
<h1>Pictures</h1>
<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <img src="<%= picture.url %>" alt="<%= picture.title %>">
<% end %>
-->
