<h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>

  <p><%= picture.title %>, by <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>

  <p>Comments: <%= picture.comments.count %> </p>

<% end %>
  
<!--
Code pasted for 'Photogur ActiveRecord Queries' assignment.
Unsure yet if I should be replacing the above code with this.
-->

<h1>Most recent pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>

<h1>A month old, or older:</h1>
<ul>
  <% @older_than_one_month.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>

<h1>Images arranged by year:</h1>

<h2>2017</h2>
<%= year = 2017 %>
<ul>
  <% @pictures_created_in_year.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>
